<!doctype html>
<html>
  <head> </head>
  <body>
    <div class="SIbasicCard">
      <div class="sign-in-form-box">
        <form id="sign-in" class="input-group">
          <h1>Sign In</h1>
          <p>Don't have an account? <a href="/sign-up" class="switch-to-su">Sign up</a></p>
          <input
            type="text"
            class="input-field"
            placeholder="Nickname / Email"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Password"
            required
          />
          <button
            type="submit"
            class="sign-in-btn"
            required
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
