<!doctype html>
<html>
  <head> </head>
  <body>
    <section class="container forms">
      <div class="form signup">
        <div class="form-content">
          <header>Sign Up</header>

          <div class="form-link">
            <span>
              Already have an account?
              <a href="/sign-in" class="signup-link">Sign in</a>
            </span>
          </div>

          <form action="#">
            <div class="field input-field">
              <input
                type="text"
                class="input-field"
                placeholder="Nickname"
                required
              />
            </div>

            <div class="field input-field">
              <input
                type="email"
                class="input-field"
                placeholder="Email"
                required
              />
            </div>

            <div class="field input-field">
              <input
                type="password"
                class="input-field"
                placeholder="Password"
                required
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="field input-field">
              <input
                type="password"
                class="input-field"
                placeholder="Confirm password"
                required
                
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="invisible">
              <p>invisible text</p>
            </div>

            <div class="field button-field">
              <button class="submit-sign-up-btn">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </section>
  </body>
</html>
